*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #edc79c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    min-width: 45vw;
    min-height: 50vh;
    border-radius: 1rem;
}
form{
    margin:2rem 0 1rem 0;
}
form input,select,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}
form input{
    border: 1px solid rgb(143, 141, 141);
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(143, 141, 141);
    padding-left:0.3rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg{
    margin: 2rem 0 2rem 0;
}
form button{
    height: 3rem;
    background-color: #80059f;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

